/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
target/

# Ignore all the build artifacts for WASM example components
spec/fixtures/components/*.wasm

# rspec failure tracking
.rspec_status
